<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Editar Usuário</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Stack+Sans+Headline:wght@200..700&display=swap" rel="stylesheet">
</head>
<body>
    <h1>Editar Usuário</h1>

    <nav>
        <a href="{{ url_for('homepage') }}">Usuários</a>
        <a href="{{ url_for('verificacao') }}">Verificação de Digital</a>
        <a href="{{ url_for('logout') }}">Sair</a>
    </nav>

    <h2>Editando: {{ usuario[1] }}</h2>
    <form action="{{ url_for('editar', id_usuario=usuario[0]) }}" method="POST">
        <input type="text" name="nome" placeholder="Nome" value="{{ usuario[1] }}" required>
        <input type="text" name="cargo" placeholder="Cargo" value="{{ usuario[2] }}" required>
        <input type="email" name="email" placeholder="Email" value="{{ usuario[3] }}" required>
        <input type="text" name="codigo_digital" placeholder="Código da Digital" value="{{ usuario[4] }}" required>
        <button type="submit">Salvar</button>
    </form>

    <p><a href="{{ url_for('homepage') }}" style="color:#8d7966;">Cancelar e voltar</a></p>
</body>
</html>
